<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

<link rel="shortcut icon" href="./assets/favicon-128.png" />
<link rel="apple-touch-icon" href="./assets/favicon-128.png" />

<meta name="twitter:card" content="summary" />
<meta name="twitter:site" content="{{ page.host }}" />
<meta name="twitter:creator" content="{{ page.author }}" />

<meta property="og:url" content="{{ site.url }}" />
<meta property="og:title" content="{{ page.title }}" />
<meta property="og:description" content="{{ page.description }}" />
<meta property="og:image" content="{{ page.image }}" />
