<!DOCTYPE html>
<html>
    <head>
        <title>FLIPTOPBOX</title>
        <link rel="stylesheet" href="./assets/css/styles.css" />
        {% include meta.html %}
        <!-- 
            Babylon.js (v4.1.0-beta.22)
            https://github.com/BabylonJS/Babylon.js/tree/master/dist 
        -->
        <script src="./js/babylon.js"></script>
        <script src="./js/babylonjs.loaders.min.js"></script>

    </head>
    <body>
        <canvas id="renderCanvas"></canvas>
        <script src="./js/script.js"></script>
        <div class="content">{{ content }}</div>
        {% include mouse-icons.html %}
    </body>
</html>
